- provide(:title, 'Help')

%h1 Help from Dropshare

If you need help please contact 
=mail_to "dylan.shepard@colorado.edu", "Dylan", subject: "DropShare help request"
or contact 
=mail_to "mharris@colorado.edu", "Max", subject:  "DropShare help request"



