.center.hero-unit
  %h1 Feed
  %p= current_user.name + " is logged in"
  .well 
    %h2 Facebook friends using DropShare
    - @dropshare_friends.each do |friend|
      = link_to friend.name, user_path(friend.id)
      %br
  