.center.hero-unit
  %h1 Feed
  %p= current_user.name + " is logged in"
  .well 
    %h2 Facebook friends using DropShare
    - graph_friends.each do |friend|
        = image_tag friend.picture
        = link_to friend.name, user_path(friend.id)
        %br
  