<div id="user-widget">
  <% if current_user %>
      <% if session[:drive] != nil %> 
      Your facebook and drive accounts are connected
      
      <% else %>
      <%= redirect_to drive_login %>
      <% end %>

  <% end %>
</div>

