#user-widget
  - if authenticated?
    Welcome 
    %strong= current_user.profile.name
    = link_to "Sign out", facebook_path, :method => :delete

  - else
    = link_to "Sign in", new_facebook_path
