#user-widget
  - if authenticated?
    Welcome 
    %strong= current_user.profile.name
    = link_to "Sign out", facebook_path, :method => :delete

    - current_user.profile.friends.each do |f|
      %p= f.name
      
  - else
    = link_to "Sign in", new_facebook_path
